main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  

div.user {
    background-color: #eeeeee;
    height: auto;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
  }

  div.subtask {
    /* grid-column: span 3; */
    grid-row: span 3;
    min-width: 300px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 30px;
    max-height:600px;
    /* overflow: hidden; */
    overflow: scroll;
}
div.subtask li {
  height: 100px;
}

/* select {
  margin-left: 20px;
  margin-top: 50px;
}
     */
button {
  border-radius: 10px;
  background-color: #f7d7e7;
  margin: 2px;
  margin-left: 20px;
  border: 0px;
}

button.multiple {
  border-radius: 10px;
  background-color: rgb(209, 207, 207);
  margin: 2px;
  margin-left: 20px;
  border: 0px;
}